<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >


<suite   name="Functional" >
    <listeners>
        <listener class-name="ExtentReports.TestListener"></listener>
    </listeners>

    <test name="Cantaloupe iOS" >
        <classes>
            <class name="tests.AccountCreationTest"/>
        </classes>
    </test>
</suite>
